/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

/* CUSTOM CSS */
body {
	background: #202442;
	color: #ffffff;
	letter-spacing: .06rem;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size: 1em;
}

.search-bar {
  width: 30rem;
  background-color: transparent;
  border: 1px solid #99abdf;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  cursor: text;
  margin: 0em;
  letter-spacing: .09em;
  padding: .8rem;
  border-radius: 4px;
}


header img {
	max-width: 25rem;
	max-height: 12.5rem;
} 

/* Styles for Cards &Containers */

.container {
	max-width: 1100px;
	margin: 0 auto;
	border-radius: 10px;

}
.container:hover {
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12)
}

/* .cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	box-sizing: border-box;
} */
/* .card{
	position: relative;
} */

/* .card-header {
	position: relative;
	height: 175px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(white,.15);
	background-blend-mode: overlay;
	border-radius: 4px 4px 0 0;
} */

 .card-title {
	background: rgba(157, 187, 63, .85);
	color: white;
	text-transform: uppercase;
	bottom: 0;
	width: 100%;
	
}
.card-title h3 {
	line-height: 1.2;
	margin: 0;
}

.card-header {
	position: relative;
	height: 175px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(white,.15);
	 background-blend-mode: overlay;
}
.card{
	background: rgb(36, 40, 74);
	padding-bottom: 30px;
	/* border-bottom-left-radius: 10px;
	border-bottom-right-radius: 15px !important; */
}
